<a href="https://colab.research.google.com/github/Nanyang7/ADsp-/blob/main/2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Print 함수**

- 매개변수로 지정된 데이터를 출력하고 줄을 변경

In [4]:
print('hello world')
print(10)
print('10')
print("나는 아름다운 존재이다") # 문자열 출력은 따옴표를 사용함 ""

hello world
10
10
나는 아름다운 존재이다

In [7]:
# 한 줄 주석문
# 5를 출력하는 함수입니다.

'''
여기는 여러줄을 주석으로 처리합니다.
따라서 프로그램에 영향을 주지 않는다.
'''

print(5)

5

In [17]:
print('나는 너를', '사랑해')
print('나는 너를', end='') #end : print 출력 후 어떻게 처리할지 여부에 대한 옵션
print('사랑해')
print('나는 너를', end=' ')
print('사랑해')
print('나는 너를', end=' 많이 ')
print('사랑해')

나는 너를 사랑해
나는 너를사랑해
나는 너를 사랑해
나는 너를 많이 사랑해

In [22]:
print(10 + 5) # 덧셈
print(10 - 5) # 뺄셈
print(10 * 5) # 곱셈
print(10 / 5) # 나눗셈
print(10 % 3) # 나머지
print(10 // 3) # 몫 연산자
print (2 ** 3) # 지수 연산자

print(' 10 + 5')

print ('10' + '5')

15
5
50
2.0
1
3
8
 10 + 5
105

# **2. 출력 서식 지정하기**

1. %d(정수), %f(실수), %s(문자열)을 사용하여 출력 서식을 지정
2. 서식을 제외한 문자는 입력한 그대로 출력이 됨
3. 서식을 지정해 출력할 데이터가 2개 이상인 경우(소괄호)로 데이터를 묶어야 함

In [24]:
print('숫자 : 100')
print('숫자 : %d' %100)
print('숫자 : %d' %100.5)

숫자 : 100
숫자 : 100
숫자 : 100

In [26]:
print('실수 : %f' % 100.5)

실수 : 100.500000

In [38]:
print('문자열 : %s' % '파이썬')
print('문자열 : %s' % 100)

문자열 : 파이썬
문자열 : 100

In [39]:
print ('10 + 5 = 15')
print('%d + %d = %d' % (10, 5, 10+5))

10 + 5 = 15
10 + 5 = 15

In [40]:
print('%d' % 100)

100

In [42]:
print('%5d' % 100)
print('%5d' % 10000)
print('%5d' % 10000000)
print('%05d' % 100)

  100
10000
10000000
00100

In [44]:
print('%f' % 183.12)
print('%6.2f' % 183.1256) #반올림
print('%6.2f' % 182.1)

183.120000
183.13
182.10

In [46]:
print('%7s' % 'apple')

  apple

In [48]:
# 5 /3
print('%d / %d = %d' % (5, 3, 5/3))
print('%d / %d = %f' % (5, 3, 5/3))

5 / 3 = 1
5 / 3 = 1.666667

#3. format 함수와 출력 인덱스 **사용**

In [50]:
#인덱스 : 0부터 순서대로 진행되는 정수
print('{0}, {1}'.format('김나은', '짱이야'))

김나은, 짱이야

In [53]:
print('{0:5s}님은 {1}살 입니다.'.format('김나은',24))

김나은  님은 24살 입니다.