<a href="https://colab.research.google.com/github/Nanyang7/ADsp-/blob/main/4_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%85%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.input 함수**

- 사용자에게 데이터를 입력 받을 수 있는 함수
- 데이터를 문자형으로 입력

In [4]:
name = input()
print(name)

김나은
김나은

In [6]:
name = input('이름을 입력해보아요 : ')
print('%s님 ! 이름이 참 멋지시네요 !' % name)

이름을 입력해보아요 : 김나은
김나은님 ! 이름이 참 멋지시네요 !

In [8]:
#split() : 매개변수로 전달된 문자를 기준으로 데이터를 나눠서 저장
name, age, height = input('이름, 나이, 키를 스페이스 바를 기준으로 나눠서 입력하세요 : ').split(' ')
print('{0}님의 나이는 {1}살이며, 키는 {2}cm 입니다.' .format(name, age, height))

이름, 나이, 키를 스페이스 바를 기준으로 나눠서 입력하세요 : 김나은 24 187
김나은님의 나이는 24살이며, 키는 187cm 입니다.

### 문제
- 국어, 영어, 수학 점수를 입력받아 총점, 평균을 구하는 프로그램을 작성해보자

In [12]:
kor, eng, math = input('국어, 영어, 수학 점수를 스페이스 바를 기준으로 나눠서 입력하세요 : ').split(' ')


total = int(kor) + int(eng) + int(math)
avg = total / 3
#순서대로 인덱스 번호를 넣고 싶으면 굳이 적지 않아도 된다
print ('총점은 {0}이고, 평균은 {1}입니다.' .format(total,avg))

국어, 영어, 수학 점수를 스페이스 바를 기준으로 나눠서 입력하세요 : 60 70 70
총점은 200이고, 평균은 66.66666666666667입니다.

In [9]:
#int() : 문자열을 숫자(정수)타입으로 변환
num1 = '100'
num2 = '50'

print(int(num1) + int(num2))
print(int(num1 + num2 ))

150
10050

# **2. map 함수**

- 미리 타입을 지정하여 입력 받는 함수

In [15]:
kor, eng, math = map(int, input('국어, 영어, 수학점수를 입력하세요. : ').split(' '))
print('총점 : ', kor + eng + math)

국어, 영어, 수학점수를 입력하세요. : 50 60 70
총점 :  180