<a href="https://colab.research.google.com/github/Nanyang7/ADsp-/blob/main/7_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 튜플(Tuple)**

- 리스트와 비슷하지만 리스트는[]로 자료를 감싸고, 튜플은 ()로 감쌈

In [ ]:
tu1 = ()
print(tu1)
print(type(tu1))

tu2 = (1, 3, 5, 7)
print(tu2)

tu3 = 1,3, 5, 7 #소괄호 생략하다.
print(tu3)
print(type(tu3))

tu4 = ('apple', 'banana', ('💀','☠️','👽'))
print(tu4)
print(type(tu4))

tu5 = ('apple', 'banana', ['💀','☠️','👽'],10)
tu5[2].append(10) #리스트이기에 추가 가능
# tu5[2][0] = '🐔' # 리스트이기에 수정 가능
print(tu5)
print(type(tu5))

## 2. 튜플의 수정 및 삭제

In [ ]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6)

# tu6[3] = 'orange' # TypeEror: 'tuple' object does not support item assignment
# del tu6[3] # TypeError : 'tuple' object doesn't support item deletion

del tu6 #덩어리 삭제 가능
print(tu6)

# **3. 튜플의 인덱싱과 슬라이싱 연산**

In [5]:
tu7= (1, 2, 'apple', 'banana')

#인덱싱
print(tu7[0])
print(tu7[-1])

#슬라이싱
print(tu7[1:])
print(tu7[1:3])

#덧셈(연결)
tu8 = (30,40)
print(tu7 + tu8)

# 곱셈(반복)
print(tu7 * 3)

#요소의 갯수
print(len(tu7))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

In [6]:
tu9 = (1, 3, 2, 0)
print(sorted(tu9)) #튜플은 sort() 지원하지 않음

[0, 1, 2, 3]